//colors
$light-blue: rgb(195, 235, 255);
$dark-blue: #363f71;
$gray: #696478;
$pink: #ff4484;
$yellow: #ffb956;
$dark-gray: #495057;
$light-gray: #becad6;
$red: #c4183c;
$green: #28a745;

// Inputs
$input-font-color: $dark-gray;
$input-border-color: $light-gray;
$input-error-color: $red;
$input-valid-color: $green;

//Header
$header-color: $dark-blue;
